page-login {
    .content.content-ios,
    .content.content-md {
        background: rgba(0, 103, 158, 1);
        background: -moz-linear-gradient(-45deg, rgba(0, 103, 158, 1) 0%, rgba(45, 202, 210, 1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0, 103, 158, 1)), color-stop(100%, rgba(45, 202, 210, 1)));
        background: -webkit-linear-gradient(-45deg, rgba(0, 103, 158, 1) 0%, rgba(45, 202, 210, 1) 100%);
        background: -o-linear-gradient(-45deg, rgba(0, 103, 158, 1) 0%, rgba(45, 202, 210, 1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(0, 103, 158, 1) 0%, rgba(45, 202, 210, 1) 100%);
        background: linear-gradient(135deg, rgba(0, 103, 158, 1) 0%, rgba(45, 202, 210, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00679e', endColorstr='#2dcad2', GradientType=1);
    }
    .content_login {
        border-radius: 5px;
        background: #fff;
        margin-top: 35px;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
    }
    .sblog_logo {
        max-height: 210px;
        text-align: center;
        padding: 15px;
        img {
            width: auto;
            height: 210px;
        }
    }
    .content_form_body {
        .item-ios,
        .item-md {
            padding: 0 25px !important;
        }
        .button-full {
            margin: 25px 0 0;
        }
        .button-ios,
        .button-md {
            background: rgba(45, 202, 210, 1);
            background: -moz-linear-gradient(top, rgba(45, 202, 210, 1) 0%, rgba(45, 202, 210, 1) 1%, rgba(31, 174, 217, 1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45, 202, 210, 1)), color-stop(1%, rgba(45, 202, 210, 1)), color-stop(100%, rgba(31, 174, 217, 1)));
            background: -webkit-linear-gradient(top, rgba(45, 202, 210, 1) 0%, rgba(45, 202, 210, 1) 1%, rgba(31, 174, 217, 1) 100%);
            background: -o-linear-gradient(top, rgba(45, 202, 210, 1) 0%, rgba(45, 202, 210, 1) 1%, rgba(31, 174, 217, 1) 100%);
            background: -ms-linear-gradient(top, rgba(45, 202, 210, 1) 0%, rgba(45, 202, 210, 1) 1%, rgba(31, 174, 217, 1) 100%);
            background: linear-gradient(to bottom, rgba(45, 202, 210, 1) 0%, rgba(45, 202, 210, 1) 1%, rgba(31, 174, 217, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dcad2', endColorstr='#1faed9', GradientType=0);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            height: 50px
        }
    }
    .external_links .item-ios,
    .external_links .item-md {
        background: transparent !important;
    }
    .external_links .item-ios.item-block .item-inner,
    .external_links .item-md.item-block .item-inner {
        border: none !important;
    }
}