page-home {
    .content-ios .scroll-content {
        margin-top: 50px !important;
        padding-top: 16px !important;
    }
    .scroll-content {
        background-color: #f9f9f9 !important;
    }
}