page-home {
    .content-ios .scroll-content {
        margin-top: 20px !important;
        padding-top: 16px !important;
    }
    .scroll-content {
        background-color: #e3f2fd !important;
    }
}