page-user-chat {
    .scroll-content {
        padding: 0px !important
    }
    .chat_field {
        width: 100%;
        height: 100%;
        background-color: #f5f5f5 !important;
    }
    .text_field {
        padding: 0 15px;
        border-top: 1px solid rgba(150, 150, 150, 0.2);
        ion-grid,
        ion-row,
        ion-col {
            padding: 0;
        }
        ion-buttons,
        .button-ios,
        .button-md {
            margin: 0px !important;
            width: 100%;
            border-radius: 0px !important;
            height: 50px;
            line-height: 50px;
            font-size: 25px;
            box-shadow: none !important;
        }
        input {
            width: 100%;
            border: none !important;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            padding-left: 15px;
        }
    }
}